<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!-- Definición de las cadenas de conexión a la base de datos -->
	<connectionStrings>
		<!--
        Añade una cadena de conexión llamada "NWConnection".
        Esta cadena de conexión se usará para conectar SQL Server local con la base de datos "Northwind".
        -->
		<add name ="NWConnection" 
			 connectionString="Data Source=LAPTOP-MISM8TAH\KEVIN;Initial Catalog=Northwind;Integrated Security=True;"
			 providerName="System.Data.SqlClient"
			 />
	</connectionStrings>
</configuration>